@tailwind base;
@tailwind components;
@tailwind utilities;
@import './slider.css';
body {
	font-family: 'lato';
	background-color: #f2f2f2;
}
.DialogContent {
	max-width: 850px;
	background: rgb(253, 253, 253);
	padding: 30px;
	border-radius: 4px;
}
.custom-container {
	@apply w-[1200px] mx-auto;
}
