/* offer slider CSS */
.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow-x: clip !important;
	overflow-y: visible !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.collection .swiper-button-prev,
.collection .swiper-button-next {
	top: -60px !important;
}
.general .swiper-button-prev,
.general .swiper-button-next {
	top: -40px !important;
}
.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: -40px !important;
	width: 37px !important;
	height: 40px !important;
	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: var(--swiper-navigation-sides-offset, 92.5%) !important;
	right: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: 'next';
	font-size: 12px !important;
	font-weight: bold;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	content: 'prev';
	font-size: 12px !important;
	font-weight: bold;
}
.swiper-button-next {
	background-color: #ffffff;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
	box-shadow: 2px 0px 3px 0 rgba(0, 0, 0, 0.1);
	/* width: 40px !important; */
	border: 1px solid #f2eaea;
}
.swiper-button-prev {
	background-color: #ffffff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
	box-shadow: -1px 0px 3px 0 rgba(0, 0, 0, 0.1);
	/* width: 40px !important; */
	border: 1px solid #f2eaea;
}
